<nav class="navbar">
    <div class="navbar-left">
       <a href="<?= BASE_URL ?>home"> <i class="fas fa-gamepad">CUSCON</i></a>
    </div>
    <div class="navbar-center">
            <ul class="nav_items">
                <li class="nav_item"><a href="index.php">Controllers</a></li>
                <li class="nav_item"><a href="index.php?page=catalog">Others</a></li>
                <i class="fas fa-search"></i>
            </ul>
    </div>
    <div class="navbar-right">
        <a href="<?= BASE_URL ?>register"><i class="fas fa-user"></i></a>
        <i class="fas fa-shopping-cart"></i>
    </div>
  

</nav>



































