<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%%HEAD_TITLE%%</title>
    <link rel="stylesheet" href="/assets/css/cuscon.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <a href="/home" class="logo"> CUSC<i class="fas fa-gamepad">N</i></a>
      <nav class="navbar">
        <ul>
          <li><a href="/home">Accueil</a></li>
          <li><a href="/catalog">Shop</a></li>
          <li><a href="/contact">Contact</a></li>
          <li>
            <a href="/search"
              ><i class="fas fa-search" id="search-btn"></i
            ></a>
          </li>
          <li>
            <a href="/gate"><i class="fas fa-user"></i></a>
          </li>
          <li class="cart-container ">
            <a href="/cart"
              ><i class="fas fa-shopping-cart"></i
              ><span class="cart-count">0</span></a
            >
          </li>
        </ul>
         <button class="navbarToggle closeSidebar" id="menuClose"><i class="fa-solid fa-xmark"></i></button>

      </nav>
      <button class="navbarToggle OpenSidebar"  id="menuToggle"><i class="fa-solid fa-bars"></i></button>

    </header>
    <div class="page-wrapper">
      <main>%%MAIN_CONTENT%%</main>
      <footer class="footer">
      <div class="footer-content">
        <div class="newsletter">
        
          <h1>Rejoint notre newsletter</h1>
          <input type="email" placeholder="email">
          <input type="submit" value="rejoindre">

        </div>
       <div class="footer-logo">
        CUSC<i class="fas fa fa-gamepad"></i>N
       </div>
        <div class="latest-news">
          <h1>Latest News</h1>
          <ul>
            <li class="recent-blog-post">
              <div class="badge">
                <article class="inner-badge">
                  <span class="day-date">12</span> <br>
                  <span class="month-date">June</span>
                </article>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
            <li class="recent-blog-post">
              <div class="badge">
                <article class="inner-badge">
                  <span class="day-date">5</span> <br>
                  <span class="month-date">July</span>
                </article>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
                <li class="recent-blog-post">
              <div class="badge">
                <article class="inner-badge">
                  <span class="day-date">13</span> <br>
                  <span class="month-date">Aug</span>
                </article>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>


          </ul>
        </div>
      </div>
      
      </footer>
      <footer class="pricavy-contact_footer">
        <i class="fa-copyright"></i>
      </footer>

      <script src="/assets/js/carroussel.js"></script>
      <script src="/assets/js/carroussel2.js"></script>
      <script src="/assets/js/search.js"></script>
      <script src="/assets/js/sidebar.js"></script>
      <script src="/assets/js/cart.js"></script>
      <script src="/assets/js/cuscon.js"></script>
    </div>
  </body>
</html>
