:root{
    --primary: #05C2CE;
    --primary-opaque: rgba(5,194,206,0.3);
}

#Login {
  border: 1px solid;
  border-radius: 15px;
  background-color: var(--primary-opaque);
  padding: 10rem;
  margin: 1rem;
}

#Login input[type="submit"] {
  margin-top: 1rem;
}

#Login a {
  margin-top: 1rem;
  display: block;
  text-align: center;
  color: #05C2CE;
}


h1, 
.title {
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color:var(--primary);
    text-align: center;
  }

#register{

    border: 1px solid;
    border-radius: 15px;
    background-color: var(--primary-opaque);
    padding: 4rem 10rem;
    color: #05C2CE;
}

#register input{
    margin-top: 1rem;
    border-radius: 15px;
}

#register input[type="submit"]{
    margin-top: 2rem;
}