:root {
  --primary: #05c2ce;
  --primary-opaque: rgba(5, 194, 206, 0.3);
}

/*body > header,
body > footer {
  border-bottom: 1px solid var(--primary);
  background: #fff;
}*/

a {
  text-decoration: none;
}



h1,
.title {
  font-family: "Erica One", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: var(--primary);
  text-align: center;
  
} 

.footer{
  border: 1px solid var(--primary);
  background-color: var(--primary-opaque);
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  border: 1px solid;
  border-radius: 15px;
  background-color: var(--primary-opaque);
  padding: 20vh;
  color: var(--primary);
  box-sizing: border-box;
}

.register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 4vh;
  box-sizing: border-box;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .register {
    padding: 5px;
  }
  input {
    padding: 8px;
  }
}
.register input[type="submit"] {
  color: var(--primary);
  background-color: white;
  border-radius: 15px;
  margin-top: 2rem;
}
.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border: 1px solid;
  border-radius: 15px;
  padding: 10vh;
  background-color: var(--primary-opaque);
}

.contact input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 15px;
}

img {
  border-radius: 15px;
}

.new {
  border: 1px solid #05c2ce;
  color: #fff;
  background-color: #05c2ce;
  border-radius: 15px;
  position: relative;
}
.new:hover {
  color: var(--primary);
  background-color: #fff;
}

.homepage .hero {
  width: 100%;
  height: 400px;

  object-fit: cover;
  object-position: bottom;
}

#aboutus {
  text-align: left;
  margin-left: 1rem;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary);
}

.homepage2 {
  position: relative;
}


.homepage2 .hero {
  padding: 1rem;
  border: 1px;
  border-radius: 15px;
  width: 100%;
  height: 400px;
  
  object-fit: cover;
  object-position: center;
}
.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controllers {
  max-width: 100%;
  padding: 10px 20px;
  border: 1px solid #05c2ce;
  border-radius: 15px;
  background-color: #fff;
  color: #05c2ce;
  margin: auto;
  margin-bottom: 2vh;
}



.controllers:hover {
  color: #fff;
  background-color: var(--primary);
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container2 img {
  max-width: 200px;
  height: auto;
  margin: 10vh auto;
}

.hero2,
.hero3 {
  flex: 1;
  text-align: center;
}

.others,
.genres {
  padding: 10px 20px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  background-color: #fff;
  color: var(--primary);
  transition: all 0.3s;
}



.avis {
  display: flex;
  justify-content: space-between;
  margin: 10vh auto;
}
.avis-client {
  width: 30%;
  padding: 20px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  text-align: center;
}

.étoiles {
  color: gold;
}

.étoiles::before {
  content: "★★★★★";
  letter-spacing: 3px;
}

.étoiles::before,
.étoiles::after {
  display: inline-block;
}

.étoiles[data-rating="1"]::before {
  content: "★☆☆☆☆";
}
.étoiles[data-rating="2"]::before {
  content: "★★☆☆☆";
}
.étoiles[data-rating="3"]::before {
  content: "★★★☆☆";
}
.étoiles[data-rating="4"]::before {
  content: "★★★★☆";
}
.étoiles[data-rating="5"]::before {
  content: "★★★★★";
}

h2 {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--primary);
}
.container2 img {
  max-width: 100%;
  width: calc(33.33% - 10px);
}


.container5 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
  justify-content: space-around;
}

.container5 img {
  margin: auto;
}
.catalog{
  max-width: 100%;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  background-color: var(--primary-opaque);

}
.item:hover{
  transform: scale(1.2);
}
.item_footer{
  margin-top: auto;
  text-align: center;
}

.item_footer p{
  color: var(--primary);
}

.quantity-selector label{
  color: var(--primary);
}
.quantity-selector select{
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.price {
  color: #fff;
}

.others:hover {
  color: #fff;
  background-color: var(--primary);
}

.genres:hover {
  color: #fff;
  background-color: var(--primary);
}


h3 {
  color: var(--primary-opaque);
}

.logo{
  color: white;
  justify-content: left;
}


.container6 {
  text-align: center;
}
.container6 h3 {
  text-align: left;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  }
  .navbar-left{
    color: var(--primary);
  }
  
  .navbar-center{
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .navbar-center li a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
  }
  .navbar-center i{
    color: var(--primary);
    cursor: pointer;
  }
  .navbar-center input{
    display: none;
  }
  .nav_items {
    display: flex;
    flex-direction: row; /* Ceci est facultatif car row est la valeur par défaut */
    justify-content: center;
    align-items: center;
    list-style: none; /* Retire les puces */
    padding: 0;
    margin: 0;
    gap: 30px;
  }
  .search-input.active {
    width: 150px;
    opacity: 1;
    margin-left: 8px;
  }
  
  .navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-right i {
    font-size: 18px;
    color: var(--primary);
    cursor: pointer;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.third{
  display: flex;
  flex-direction: column;
}
.container3 {
  align-items: center;
  margin: 10vh auto;
  max-width: 100%;
}

.container3 label{
  color: var(--primary)
}



.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Boutons radio */
.category-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  
}

input[type="radio"] {
  margin-right: 5px;
  color: black;
}


/* Carrousel */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.slide {
  display: none;
  text-align: center;
  width: 100%;
}

.slide.active {
  display: block;
}

.slide img {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}

/* Boutons de navigation */
.prev, .next  {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
}

.next:hover {
  background-color: var(--primary);
  color: #fff;
}
.prev:hover {
  background-color: var(--primary);
  color: #fff
}

/* Bouton Voir plus */
.voir-plus {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 15px;
  cursor: pointer;
}

.voir-plus:hover {
  background: var(--primary);
  color: #fff;
}

.approval{
  border: 1px solid var(--primary);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary-opaque);
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  border: 1px solid var(--primary);
  background-color: var(--primary-opaque);
  border-radius: 15px;
}

.item-image {
  flex: 1 1 300px;
  text-align: center;
}

.item-image img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.item-details {
  flex: 1 1 300px;
}

.item-details h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.price {
  color: var(--primary);
  font-size: 1.5em;
  justify-content: center;
  margin-top: 10vh;
  align-items: center;
  font-weight: bold;
}

.description {
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 10vh;
}

.add-to-cart {
  background-color: #fff;
  color: var(--primary);
  padding: 12px 20px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10vh;
}

.add-to-cart:hover {
  background-color: var(--primary);
  color: #fff;
}