:root {
  --primary: #05c2ce;
  --primary-opaque: rgba(5, 194, 206, 0.3);
  --border: rgba(93, 92, 93, 0.56);
  --titles: 'Press Start 2P', system-ui;
  --titlescolor: rgb(69, 3, 88);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  gap: 1rem;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.footer {
  background-color: var(--primary-opaque);
  border-top: 1rem solid var(--border);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer h1{
  font-size: 1rem;
}
.footer p{
  color: var(--primary);
  font-weight: bold;
}
.footer li{
  list-style: none;
  margin: 0.2rem 0; 
  border-bottom: 2px solid var(--border);
  padding: .2rem;
}
.footer ul {
  margin: 0;
  list-style: disc;
  gap: 1rem;
  padding: 0.5rem;
}
.footer-content{
  margin: auto;
  max-width: 100%;
}

.logo{
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-size: 1rem;
  display: flex;
}

@media  screen and (min-width: 768px){

  .footer-content{
    margin: auto;
    max-width: 100%;
    display: flex;
    padding: 1rem 0;
    gap: 2rem;
  }


}
.newsletter{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  padding: 0.5rem;
}

.newsletter input[type="submit"]{
  align-self: center;
  width: 5rem;
}

.footer-logo{
  display: flex;
  align-self: center;
  font-family: "Press Start 2P", system-ui;
  font-size: 2.6rem;
  font-style: normal;
  color: var(--primary);
  font-weight: bolder;
  margin: 0 1rem;
  display: flex;
}
.badge{
  display: flex;
  pointer-events: none;
}

.badge p{
  align-self: center;
}


.inner-badge{
  background-color: transparent;
  border: 2px solid var(--border);
  border-radius: 10px;
  padding: 2px 2px;
} 
.follow_on_socials{
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 1rem;
  gap: 2rem;
}
.socials{
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}
.socials i{
  font-size: 2rem;
  cursor: pointer;
  color: var(--titlescolor);
}


a {
  text-decoration: none;
}
form div {
  text-align: center;
}

label {
  color: #fff;
  display: block;
  margin-top: 1rem;
}
li {
  list-style: none;
}

img {
  border-radius: 5px;
}

.text {
  color: var(--primary);
}

input[type="checkbox"] {
  accent-color: gold;
}

input[type="text"], input[type="email"] {
  caret-color: var(--primary);
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
}


h1,
.title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--titlescolor);
  text-align: center;
}

.register {
  max-width: 100%;
  border-radius: 15px;
  border: 5px solid var(--border);
  background-color: var(--primary-opaque);
  padding: 5rem;
  color: var(--primary);
  box-sizing: border-box;
  margin: 2rem;
}

/* @media (max-width: 600px) {
  .register {
    padding: 50px;
  }
  input {
    padding: 20px;
  }
} */
.register input[type="submit"] {
  color: var(--primary);
  background-color: white;
  border-radius: 15px;
  margin-top: 2rem;
}
.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register p {
  margin: 10px;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 4vh;
  box-sizing: border-box;
  border-radius: 15px;
}
.login-container button {
  justify-content: center;
}

.remember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary);
}

.remember input {
  margin-right: 5px;
}

.modal-link {
  text-decoration: underline;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  margin: 20px;
  border-radius: 15px;
  border: 5px solid var(--border);
  padding: 10vh;
  background-color: var(--primary-opaque);
}

.contact input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 15px;
}
.approval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 1px solid var(--primary);
  margin: 20px;
}

.punchline {
  max-width: 100%;
  margin: 0.2rem;
  min-height: 30vh;
  border-radius: 100%;
  border: 5px solid rgba(93, 92, 93, 0.56);
  background-color: var(--primary-opaque);
  padding: 20px;
  transform: rotate(5deg);
}

.punchline h1 {
  transform: rotate(-5deg);
  margin: 20px;
}

.hero {
  width: 100%;
  height: auto;
  display: block;
}
.homepage a {
  position: absolute;
  top: 80%;
  left: 20%;
  padding: 10px;
  width: 200px;
  color: var(--primary);
  background-color: transparent;
  text-align: center;
}

/* @media (max-width: 768px) {
  .homepage .hero {
    height: auto;
  }
} */

.aboutus h1 {
  text-align: left;
  margin: 20px;
  color: var(--primary);
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary);
}

.premiere-option {
  position: relative;
}

.premiere-option .hero {
  padding: 1rem;
  border: 1px;
  border-radius: 15px;
  width: 100%;
  height: 400px;

  object-fit: cover;
  object-position: center;
}
.container-btn-option {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controllers, input[type="submit"] {
  max-width: 100%;
  padding: .75rem;
  border: 3px solid  rgba(93, 92, 93, 0.56);
  border-radius: 15px;
  background-color: #fff;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

.controllers:hover, input[type="submit"]:hover {
  color: #fff;
  background-color: var(--primary);
}

.deuxieme-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  max-width: 100%;
  border-top: 5px solid rgba(93, 92, 93, 0.56);
  gap: 1rem;
}
.deuxieme-option img {
  max-width: 100%;
  height: auto;
  margin: 10vh auto;
  box-shadow: 1px #05c2ce;
  width: calc(33.33% - 10px);
}

.hero2,
.hero3 {
  flex: 1;
  text-align: center;
}

.others,
.genres {
  padding: 10px 20px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  background-color: #fff;
  color: var(--primary);
  transition: all 0.3s;
}

.avis {
  display: flex;
  justify-content: space-around;
  border-bottom: 10px solid var(--border);
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.avis-client {
  width: 30%;
  padding-bottom: 50px;
  padding: 10px;
  background-color: rgba(93, 92, 93, 0.56);
  border: 5px solid gold;
  border-radius: 10%;
  text-align: center;
}

.avis-client p {
  color: var(--titles);
}

.étoiles {
  color: gold;
}

.étoiles::before {
  content: "★★★★★";
  letter-spacing: 3px;
}

.étoiles::before,
.étoiles::after {
  display: inline-block;
}

.étoiles[data-rating="1"]::before {
  content: "★☆☆☆☆";
}
.étoiles[data-rating="2"]::before {
  content: "★★☆☆☆";
}
.étoiles[data-rating="3"]::before {
  content: "★★★☆☆";
}
.étoiles[data-rating="4"]::before {
  content: "★★★★☆";
}
.étoiles[data-rating="5"]::before {
  content: "★★★★★";
}

h2 {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: gold;
}
@media screen and (min-width: 768px){
  
  .catalogue {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
    margin: 2vw;
  }
}

.catalogue img {
  margin: auto;
}
.catalog {
  max-width: 100%;
}



.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid rgba(93, 92, 93, 0.56);
  background-color: var(--primary-opaque);
  width: 100%;
  cursor: pointer;
}
.item img {
  max-width: 100%;
  height: auto;
}


.item_footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.item_footer p {
  font-family: "Press Start 2P", system-ui;
  color: var(--titles);
}

.item_footer i{
  font-size: 2rem;
  color: red;
}

.item_footer i:hover{
  transform: scale(1.2);
}



.quantity-selector label {
  color: var(--primary);
}
.quantity-selector select {
  border: 1px solid var(--primary);
  border-radius: 10px;
  height: 40px;
}



.others:hover {
  color: #fff;
  background-color: var(--primary);
}

.genres:hover {
  color: #fff;
  background-color: var(--primary);
}

h3 {
  color: var(--primary-opaque);
}

/* .logo {
  color: white;
  justify-content: left;
} */

.container6 {
  text-align: center;
}
.container6 h3 {
  text-align: left;
}

/* ======= MOBILE NAVBAR ======= */
header {
  background-color: #fff;
  box-shadow: -2px 0 5px var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header a {
  color: var(--primary);
  text-decoration: none;
}
.closeSidebar{
  display: none;
}
.navbar ul.navbarActive .closeSidebar {
    display: block;
    position: absolute;
    right: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  width: 14rem;
  transform: translateX(14rem);
  transition: transform 0.3s ease; /* Smooth animation */
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}
.navbar ul.navbarActive {
  transform: translateX(0);
  background-color: var(--primary-opaque);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.navbar ul.navbarActive a {
  color: #fff;
}
.navbar ul.navbarActive i {
  color: #fff;
}


.navbar ul li {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar ul {
    position: initial;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    transform: none;
    flex-direction: row;
  }
  .navbarToggle {
    display: none; /* cacher le bouton sur desktop */
  }
}
/* Styles des liens */

.navbar ul a {
  padding: 0.5rem 0;
  cursor: pointer;
}


/* ======= BOUTON BURGER ======= */
.navbarToggle{
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}


.navbar .cart-icon {
  position: relative;
}

.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.cart-container a {
  position: relative;
}

/* Badge */
.cart-count {
  position: absolute;
  background-color: gold;
  color: var(--primary);
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
  line-height: 1;
  min-width: 18px;
  text-align: center;
  top: 2px;
  right: -10px;
}

.cart-container i {
  font-size: 20px;
  color: var(--primary);
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.carousel-filter {
  display: flex;
  flex-direction: column;
  border-radius: 30%;
  border: 5px solid rgba(93, 92, 93, 0.56);
  background-color: var(--primary-opaque);
  margin: 1rem;
}
.selector-carousel-container {
  align-items: center;
  margin: 10vh auto;
  max-width: 100%;
}

.selector-carousel-container label {
  color: var(--primary);
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Boutons radio */
.category-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.category-selector input[type="radio"] {
  accent-color: var(--border);
}

.category_ {
  font-weight: bold;
  color: var(--primary);
}

input[type="radio"] {
  margin-right: 5px;
  color: black;
}

/* Carrousel */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.carousel p {
  font-weight: bold;
  color: var(--titles);
}

.slide {
  display: none;
  text-align: center;
  width: 100%;
}

.slide.active {
  display: block;
}

.slide img {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}

/* Boutons de navigation */
.prev,
.next {
  background-color: #fff;
  color: var(--primary);
  border: 5px solid  rgba(93, 92, 93, 0.56);
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
}

.next:hover {
  background-color: var(--primary);
  color: #fff;
}
.prev:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Bouton Voir plus */
.voir-plus {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  color: var(--primary);
  border: 5px solid  rgba(93, 92, 93, 0.56);
  border-radius: 15px;
  cursor: pointer;
}

.voir-plus:hover {
  background: var(--primary);
  color: #fff;
}

.item-container {
  display: flex;
  gap: 1.4rem;
  padding: 2rem;
  border: 5px solid var(--border);
  background-color: var(--primary-opaque);
  border-radius: 15px;
  margin: 1rem;
}

.item-image {
  text-align: center;
}

.item-image img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-details h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.price {
  font-family: "Press Start 2P", system-ui ;
  color: var(--primary);
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.description {
  font-size: 1.1em;
  line-height: 1.6;
}

.actions{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: auto;
}
.actions i {
  font-size: 2rem;
  color: var(--titlescolor);
  cursor: pointer;
}

.actions i:hover{
  transform: scale(1.2);
}



.collections{
  display: flex;
  gap: 5rem;
}
.collections button{
  padding: .2rem;
  background-color: #fff;
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--border);
  border-radius: 10px;
  margin: 0.2rem 0;

}
.collections button:hover{
  background-color: var(--primary);
  color: #fff;
}

.cart, .favs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.favs ul{
  display: flex;
  flex-direction: column;
  grid-area: .5rem;
}
.cart-item{
  display: flex;
  gap: .2rem;
}

/* Container notification */
.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 12px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}
