<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>%%HEAD_TITLE%%</title>
  <link rel="stylesheet" href="/assets/css/admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

  <div class="container">
      <aside>

            <div class="top">

              <div class="logo">
                <i class="fas fa-gamepad">CUSCON</i>
              </div>
              <div class="close">
                <i class="fa-solid fa-xmark"></i>
              </div>
            </div>

            <div class="sidebar">
              <a href="/admin">
                <i class="fa-solid fa-grip-lines"></i>
                <h3>Dashboard</h3>
              </a>
              <a href="/admin/customers">
                <i class="fa-solid fa-user"></i>
                <h3>Customers</h3>
              </a>

              <a href="/admin/message">
                <i class="fa-solid fa-envelope"></i>
                <h3>Messages</h3>
                <span class="msg_count">14</span>
              </a>
              <a href="/admin/items">
                <h3>Products</h3>
              </a>
              <a href="/admin/addItems">
                <i class="fa-solid fa-plus"></i>
                <h3>Add Products</h3>
              </a>

              </a>
              <a href="#">
                <i class="fa-solid fa-gear"></i>
                <h3>Settings</h3>
              </a>
              <a href="/home">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <h3>Log out</h3>
              </a>


            </div>

      </aside>



      <main>

        %%MAIN_CONTENT%%

      </main>





      <div class="right">

          <div class="top">
            <button id="menu_bar">
              <i class="fa-solid fa-bars"></i>
            </button>
            <div class="theme-toggler">
              <span class="active"><i class="fa-regular fa-sun"></i></span>
              <span><i class="fa-solid fa-moon"></i></span>
            </div>
            <div class="profile">
              <p><b>CUSCON</b></p>
              <p>admin</p>
              <small class="text-muted"></small>
            </div>
            <div class="profile-photo">
              <img src="/assets/img/map.png" alt="">
            </div>
          </div>

          <div class="recent_updates">
            <h2>Recent Updates</h2>
            <div class="update">
            <div class="profile-photo">
              <img src="/assets/img/map.png" alt="">
            </div>
            <div class="message">
              <p><b>CUSCON</b> received his order</p>
            </div>
            </div>
            <div class="update">
            <div class="profile-photo">
              <img src="/assets/img/map.png" alt="">
            </div>
            <div class="message">
              <p><b>CUSCON</b> received his order</p>
            </div>
            </div>
            <div class="update">
            <div class="profile-photo">
              <img src="/assets/img/map.png" alt="">
            </div>
            <div class="message">
              <p><b>CUSCON</b> received his order</p>
            </div>
            </div>
          </div>

 
          
          
          
        </div>































  </div>



























  
</body>
</html>